pandas==1.2.4
numpy==1.20.2
cowin==0.0.4
pretty_html_table==0.9.5
pytz>=2017.3
python-dateutil>=2.7.3
requests==2.25.1
pytest==6.2.3
fake-useragent==0.1.11
packaging
colorama
atomicwrites>=1.0
pluggy<1.0.0a1,>=0.12
toml
py>=1.8.2
attrs>=19.2.0
iniconfig
idna<3,>=2.5
certifi>=2017.4.17
chardet<5,>=3.0.2
urllib3<1.27,>=1.21.1
six>=1.5
pyparsing>=2.0.2